<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
            text-align: center;
        }
        span{
            font-size:22px;
            font-family: 演示佛系体;
        }
        table{
            border-collapse: collapse;
            width: 60%;
        }
        table,td,th{
            border:1px solid;
        }
    </style>
</head>
<body>
    <span>修改页面</span><br>
    <form th:action="@{/emp/editEmp}" th:object="${emp}" method="post" enctype="multipart/form-data">
    <table align="center">
        <tr>
            <td>姓名:</td>
            <td>
                <input th:type="hidden" name="eid" th:value="${emp.eid}">
                <input th:type="text" name="ename" th:value="${emp.ename}">
            </td>
        </tr>
        <tr>
            <td>薪资</td>
            <td>
                <input th:type="number" name="salary" th:value="${emp.salary}">
            </td>
        </tr>
        <tr>
            <td>职位:</td>
            <td>
                <input th:type="text" name="job" th:value="${emp.job}">
            </td>
        </tr>
        <tr>
            <td>生日:</td>
            <td>
                <input th:type="date" name="birthday"
                       th:value="${#dates.format(emp.birthday,'yyyy-MM-dd')}">
            </td>
        </tr>
        <tr>
            <td>照片：</td>
            <td>
                <input th:type="file" name="file"/>
                <input th:type="hidden" name="photo" th:value="${emp.photo}"/>
                <img th:src="@{${emp.photo}}" width="50" height="50"/>
            </td>
        </tr>
        <tr>
            <td>所在部门：</td>
            <td>
                <select name="did">
                    <option>--请选择所在部门--</option>
                    <option th:each="dept:${depts}" th:text="${dept.dname}"
                            th:value="${dept.did}" th:selected="${dept.did == emp.did}"></option>
                </select>
            </td>
        </tr>
    </table>
    <input th:type="submit" value="提交">
    </form>
</body>
</html>